extends layout

block content
  .welcome-container
    h1= page
    p Welcome to the club 
      span.get-outta-here (if you're a member)!
  
  p.sign-up-link
    a(href="/sign-up") Click here
    |  to sign up
