extends layout

block content

  if user 
    p Welcome back #{user.userName}
    a(href="/log-out") Log out 

  if messages 
    .messages-container
    each message in messages 
      .message-container
      p #{message.body}
  else 
    .no-messages
      p There are no messages
  
