doctype html
html
  head
    title Members Only
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .navbar
      h2.nav-header Members Only 
      .nav-links
        a(href="/sign-up") Sign Up
        a(href="/log-in") Log In
    block content