* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  display: flex;
  justify-content: center;
}

body {
  width: 1000px;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(5, minmax(150px, 1fr));
  grid-template-rows: repeat(5, minmax(150px, 1fr));
  font-family: Arial, Helvetica, sans-serif;
}

.errors {
  grid-column: 2 / 5;
}

.error {
  color: red;
}

/* =================================== */
/* NAVBAR */
/* =================================== */
.navbar {
  padding: 10px;
  grid-column: 2 / 5;
  place-self: start stretch;
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
}

.nav-header {
  width: 35%;
}

.nav-links {
  display: flex;
  width: 65%;
  justify-content: space-between;
}
/* =================================== */
/* HOME PAGE */
/* =================================== */

.no-messages {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  place-self: center;
}

/* =================================== */
/* SIGN UP/LOG IN PAGE */
/* =================================== */

.sign-up-welcome-container,
.log-in-header-container {
  grid-column: 2 / 5;
  grid-row: 1 / 2;
  place-self: stretch center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.sign-up-form-container,
.log-in-form-container {
  grid-column: 2 / 5;
  grid-row: 2 / 4;
}

.sign-up-form,
.log-in-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.sign-in-submit,
.log-in-submit {
  background: rgb(0, 132, 255);
  border: none;
  border-radius: 10px;
  padding: 5px;
  color: rgb(255, 255, 255);
  font-weight: 400;
}

.sign-in-submit:hover,
.log-in-submit:hover {
  cursor: pointer;
  font-weight: 600;
}

.sign-up-footer,
.log-in-footer {
  grid-column: 2 / 5;
  grid-row: 4 / 5;
  justify-self: center;
  margin-top: 20px;
}

/* =================================== */
/* JOIN CLUB PAGE */
/* =================================== */

.join-club-header {
  grid-column: 2 / 5;
  place-self: center stretch;
  text-align: center;
}

.secret-container {
  grid-column: 2 / 5;
  grid-row: 2 / 3;
  place-self: start stretch;
  display: flex;
  justify-content: center;
}

.home-footer {
  grid-column: 2 / 5;
  grid-row: 3 / 4;
  justify-self: center;
}
